* {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.font-500 {
  font-family: 'SF Pro Text Medium', sans-serif;
  font-weight: 500;
}

.font-bold {
  font-family: 'SF Pro Text Bold', sans-serif;
  font-weight: 700;
}

.scrollBar::-webkit-scrollbar {
  color: aqua;
  background-color: blue;
}

.bgSVG {
  background-image: url(/svg/userBG.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.css-6od3lo-MuiChip-label {
  padding: 0;
}

.scrollHidden::-webkit-scrollbar {
  display: none;
}

/* Editor */
.ql-editor {
  padding: 24px !important;
  font-size: 16px;
}

.ql-container {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  border-color: #ebf2fa !important;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.ql-container:hover {
  border-color: #c6c7c9 !important;
}

.ql-toolbar {
  border: transparent !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* Fonts */
@font-face {
  font-family: 'SF Pro Text Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/FontsFree-Net-SFProText-Regular-1.ttf');
}

@font-face {
  font-family: 'SF Pro Text Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/FontsFree-Net-SFProText-Medium-1.ttf');
}

@font-face {
  font-family: 'SF Pro Text Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/FontsFree-Net-SFProText-Bold-1.ttf');
}

.ql-snow .ql-picker-options {
  position: fixed !important;
  min-width: auto !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: auto !important;
}
